@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lexend:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    margin: 0;
    font-family: "Crimson Text, Lexend";
}

h1{
    font-size: 64px;
    color: #333030;
    text-align: center;
    font-family: "Crimson Text", Times, serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2,h3,h4,h5,h6,.h7,.h8,.h9{
    color: #555;
    font-family:"Crimson Text", Times, serif;
    line-height: 1px;
}

h2{
    font-size: 54px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 36px;
}

h5{
    font-size: 32px;
}

h6{
    font-size: 24px;
}

.h7{
    font-size: 16px;
}

.h8{
    font-size: 14px;
    font-weight: 700;
}

.h9{
    font-size: 12px;
}

.ht{
    margin: 10%;
    padding-top: 10%;
}


.container{
    display: flexbox;
    text-align: center;
    padding: auto;
    position:fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}


.column{
    display: flexbox;
    float: left;
    display: grid;
    padding: 1em;
    width: 100%;
    background-color: rgb(223, 223, 223);
}

.column2{
    float: left;
    display: grid;
    padding: 1em;
    width: 15%;
}

.column3{
    float: left;
    display: grid;
    margin-left: 300px;
    margin-top: 100px;
    padding: 1em;
    width: 30%;
}

img{
    position:relative;
    width: 100vw;
    transform: translateX(-0.5em);
    margin-top: 10px;
}

.imgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.imgtext2{
        position: absolute;
        padding-left: 5%;
        display: flex;
        top: 120%;
}

.imgtext3{
    position: absolute;
    padding-left: 5%;
    padding-top: 1%;
    display: flex;
    top: 142%;
}

.imgtitletext {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.center{
    text-align: center;
    align-content: center;
    align-items: center;
}

.imgscale{
    margin: 200px;
    width: 500px;
    height: auto;
}

footer{
    padding: 2em;
    padding-left: 10em;
    padding-bottom: 4em;
    background-color: rgba(150, 123, 109, 0.35);


}

nav{
    width: 100vw;
}

ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
        
}
  nav > ul{
    display:flex;
    flex-direction: row;
    width: 100vw;
  }

  nav li{
    font-size: 24px;
    padding: 1em 2em;
    width: 100%;
    color: #555;
    font-family:"Crimson Text", Times, serif;
    font-style: normal;
    line-height: 34px;
    background-color: #C9CDB0;
    transform: translateX(-0.3em);
  }

nav ul ul{
    transform: scale(1,0);
    transform-origin: top right;
    position: fixed;
    top: 100%;
    transition: 0.3s;
    justify-content: center;
    width: 63%;
    left: 5px;
}
    
nav li:hover ul{
  transform: scale(1,1);
    transition: 0.3s;
}

.btn {
    font-size: 24px;
    text-decoration: none;
    padding: 1rem,3rem;
    width: 25rem;
    border-radius: 60px;
}

.schbtn{
    font-family: lexend;
    font-size: 14px;
    position: absolute;
    display: flex;
    top: 130%;
    margin-left: 4%;
    margin-top: 1.2%;
    color: #000;
    background: #EDEDED;
    padding: 1%;
    padding-left: 2%;
    text-align: center;
}


.button1 {
    color: #000;
    background: #C9CDB0;
}

.button2 {
    color: #fff;
    background: #000;
}

.sbtn{
    width: 20px;
    justify-content: top;
    height: 20px;
    margin-right: 5px;
    object-fit: contain;
    align-self: top;
}

.sbtntxt{
    padding: 10px 5px;
}

.moreinfobtn{
    width: 20px;
    justify-content: top;
    height: 20px;
    object-fit: contain;
    align-self: top;
}