
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lexend:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body{
    margin: 0%;
    font-family: "Crimson Text, Lexend";
}

h1{

    font-size: 64px;
    color: #333030;
    text-align: center;
    font-family: "Crimson Text", Times, serif;
    font-style: normal;
    font-weight: 700;
}

h2,h3,h4,h5,h6,.h7,.h8,.h9{
    color: #555;
    font-family:"Crimson Text", Times, serif;
}

h2{
    font-size: 54px;
    margin: 0;
}

h3{
    
    font-size: 40px;
    color: #555;
    font-family: "Crimson Text";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

h4{
    font-size: 36px;
}

h5{
    font-size: 32px;
}

h6{
    font-size: 24px;
}

.h7{
    font-size: 16px;
}

.h8{
    font-family: lexend;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1%;
    margin-top: 0%;
    padding-top: 0%;
}

.h9{
    font-size: 12px;
}

.ht{
    margin: 10%;
    padding-top: 10%;
}

.info{
    margin-left: 5%;
    margin-right: 10%;
    color: #555;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1%;
    line-height: 1.5;
}

.title{
    color: #000;
    text-align: center;
    justify-content: center;
    font-family: "Crimson Text";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    background-color:#fff
}

.back{
    position:relative;
    width: 2.5%;
    transform: translateX(-28rem) translateY(0.5rem);
    margin-top: 10px;
}

.prices{
    margin-top: 1.5%;
    text-align: center;
    align-content: center;
    align-items: center;
}

.prices > h5{
    margin: 1%;
}

.prices > h6{
    margin: 0%;
    margin-bottom: 0.5%;
    font-weight: 400;
}

.center > h3{
    margin-top: 6%;
    margin-bottom: 0%;
    justify-content: center;
    text-align: center;
}

.center > h6{
    margin: 0%;
    margin-bottom: 0.5%;
    font-weight: 400;
}



.container{
    display: flexbox;
    text-align: center;
    padding: auto;
    position:fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}

header > img {
    position:relative;
    width: 2.5%;
    transform: translateX(22rem) translateY(0.5rem);
    margin-top: 10px;
}


.column{
    display: flexbox;
    float: left;
    display: grid;
    padding: 1em;
    width: 100%;
    background-color: rgb(223, 223, 223);
}

.column2{
    float: left;
    display: grid;
    padding: 1em;
    width: 15%;
}

.column3{
    float: left;
    display: grid;
    margin-left: 11%;
    margin-top: 1%;
    padding: 1%;
    width: 35%;
}

.column3 > h5{
    text-align: center;
}

.column3 > .h7{
    font-family: lexend;
}

.bold{
    font-family: lexend;
    font-weight: 600;
    margin-top: 3%;
}

img{
    position:relative;
    width: 100vw;
    transform: translateX(-0.5em);
    margin-top: 10px;
}

.imgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.imgtext2{
        position: absolute;
        padding-left: 5%;
        display: flex;
        top: 100%;
}

.imgtext3{
    margin-left: 5%;
    margin-bottom: 1%
}

.imgtitletext {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.imgtitletext2{
    position: absolute;
    padding: 5%;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.center{
    text-align: center;
    align-content: center;
    align-items: center;
}

.imgscale{
    margin: 10%;
    margin-top: 14%;
    width: 424px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 30px;
}

footer{
    padding: 0.1em;
    padding-left: 10em;
    padding-bottom: 0.5em;
    line-height: 0;
    margin: 0%;
    background-color: rgba(150, 123, 109, 0.35);
}

/* header*/

nav{
    width: 100vw;
    margin: 0;
}

ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
        
}
  nav > ul{
    display:flex;
    flex-direction: row;
    width: 100vw; /*changing the nav bar width*/
  }


  nav li{
    font-size: 24px;
    padding: 0.5em 1em;
    width: 100%;
    color: #555;
    font-family:"Crimson Text", Times, serif;
    font-style: normal;
    line-height: 34px;
    background-color: #E8E8E8;
    transform: translateX(-0.3em);
    margin: 0;
  }

nav ul ul{
    transform: scale(1,0);
    transform-origin: top right;
    position: fixed;
    top: 100%;
    transition: 0.3s;
    justify-content: center;
    width: 80%;
    left: 5px;
    
}
    
nav li:hover ul{
  transform: scale(1,1);
    transition: 0.3s;
}

.btn {
    font-size: 24px;
    text-decoration: none;
    padding: 1rem,3rem;
    width: 25rem;
    border-radius: 60px;
}

.schbtn{
    font-family: lexend;
    font-size: 14px;
    position: absolute;
    display: flex;
    top: 106%;
    margin-left: 4%;
    margin-top: 1.2%;
    color: #000;
    background: #EDEDED;
    padding: 1%;
    padding-left: 2%;
    text-align: center;
}


.button1 {
    color: #000;
    background: #C9CDB0;
}

.button2 {
    color: #fff;
    background: #000;
}

.sbtn{
    width: 20px;
    justify-content: top;
    height: 20px;
    margin-right: 5px;
    object-fit: contain;
    align-self: top;
}

.sbtntxt{
    padding: 10px 5px;
}

.moreinfobtn{
    width: 20px;
    justify-content: top;
    height: 20px;
    object-fit: contain;
    align-self: top;
}

.carouselcontainer{
    display: flex;
    padding: 1px;
    column-gap: 0.5vw;
    margin-left: 3%;
    margin-bottom: 5%;
}
.carouselcol {
    width: 320px;
    height: auto;
    position: relative; 
    margin-left: 2%;
}

.carouselcol img {
    width: 100%;
    height: auto;
}

.cc-overlay{
    position: absolute; 
    top: 3px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin-right: 1vw;
}

.cc-overlay .h7{
    font-weight:bold;
    border-radius: 30px;
    padding: 17px;
    background-color: rgba(255, 255, 255, 0.763);
    text-align: center;
    line-height:normal;
}


.cc-overlay h4{
    font-weight:bold;
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.763);
    margin: 10%;
    margin-right: 25%;
}

.imgtextcarousel{
    color: #555;
    font-family: lexend, Times, serif;
    font-size: 12px;
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.718);
    text-align: center;
    width: 90%;
}

.moreinfobtn {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 25px;
    border-radius: 50%;
    background-color: rgb(246, 245, 245);
    display: flex;
    justify-content: center;
}

.moreinfobtn img {
    transform: none;
    width: 24px;
    height: 24px;
    bottom: 21px;
}

.shoppingbtn {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 25px;
    border-radius: 50%;
    background-color: rgb(246, 245, 245);
    display: flex;
    justify-content: center;
}

.shoppingbtn img {
    transform: none;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    bottom: 21px;
}


.vtext{
    margin-left: 5%;
    margin-bottom: 1%;
}

.productimg{
    width: 100vw;
    margin-top: 2%;
}

.productimg2{
    margin: 0%;
    width: 100%;
    margin-top: 11%;
}

.infotitle{
    margin-top: 4%;
    margin-left: 5%;
}

/* calendar */


table {
    border-collapse: collapse;
    width: 50%;
    box-shadow: 0 0 0 2px #ddd;
    margin-left: 25%;
    margin-bottom: 2%;
}
th, td {
    font-family: "lexend";
    text-align: center;
    padding: 2.5%;
    width: calc(100%/7);
}

th {
    background-color: #f2f2f2;
    color: #333;
}
.weekdays th:nth-child(odd), .weekdays th:nth-child(even) {
    font-family: "Lexend" ;
    color: #696969;
}

.days td {
    font-family: "Lexend" ;
    font-size: 14px;
}

.nextMonthDays td {
    font-family: "Lexend" ;
    color: #ddd;
}

.caption {
    font-family: "Lexend";;
    font-size: 18px;
    text-align: center;
    padding: 3%;
    margin-left: -0.3%;
    margin-right: -0.3%;
    background-color: #f2f2f2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 2px solid #ddd;
}

.bottomRounded {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.previousDays, .nextMonthDays{
    color:#bdbaba;
}

.emphasise{
    color: #83a365d0;
    font-size: 25px;
}

.cartbtn {
    background-color: #C9CDB0;
    width: 30rem;
    height: 10vh;
    border: none;
    border-radius: 30px;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin-left: 33%;
    margin-bottom: 5%;
    margin-top: 5%;
}
