@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lexend:wght@100..900&display=swap");

@import url("reset.css");

h1 {
    font-size: 5rem;
    color: #333030;
    text-align: center;
    font-family: "Crimson Text", Times, serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2, h3 {
    font-size: 2rem;
    color: #555;
    font-family:"Crimson Text", Times, serif;
    font-style: normal;
    line-height: normal;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

p {
    font-size: 0.75rem;
    color: #555;
    font-family: "Lexend", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

ul {
    list-style-type: none;
}

.pagetitle {
    margin-top: 1.5rem;
}

.shoppingcart {
    max-width: 100rem;
}

img.cartthumbnail {
    width: 239px;
    height: 152px;
    border-radius: 30px;
    flex-shrink: 0;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 2rem;
    flex-shrink: inherit;
}

.productlist {
    padding-top:6rem;
}

.productlist {
    margin-left: 15rem;
    margin-right: 15rem;
}

.breakdown {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.finalbreakdown {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.total {
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

.twocolumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0.5;
    flex-wrap: wrap;
    max-width: 80rem;
}

.confirmationpage {
    background-color: #C9CDB0;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100vh;
    justify-content: center;
}

.confirmationpage > h1, .userinfo > h1 {
    font-size: 40px;
}

.confirmationpage > h2 {
    font-size: 36px;
    font-weight: 400;
    color: #000;
    width: 368px;
    text-align: center;
}

.taxinfo {
    color: #909090;
    padding-top: 50px;
}

.bookingdetails {
    align-items: center;
    max-width: 40rem;
}

.bookingdetails > .row {
    width: 30rem;
}

.classdetails {
    max-width: 18rem;
    margin-left: -4rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding-bottom: 3rem;
}

form p {
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: 14px;
}

.textInput {
    width: 16rem;
    padding: 0.75rem 1rem;
    border-radius: 30px;
    font-size: 0.9rem;
}

.bottomitems {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    width: 3rem;
}

.formitem4, .formitem5{
    width: 6rem;
}

.peoplebutton {
    width: 130px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #D9D9D9;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
}

.peoplenumber {
    font-size: 30px;
    text-align: center;
    padding: 2px 0;
    line-height: normal;
}

.minus {
    margin-top: 20px;
    margin-left: 16px;
}

.plus {
    margin-top: 12px;
    margin-right: 16px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin-left: 20rem;
    margin-right: 20rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.btn {
    text-decoration: none;
    padding: 1rem 3rem;
    width: 25rem;
    border-radius: 20px;
}

.btn p {
    font-size: 1.5rem;
    text-align: center;
}

.btn1 {
    background-color: #C9CDB0;
}

.btn2 {
    background-color: #000;
}

.btn2 p {
    color: #FFF;
}

.btn3 {
    align-self: center;
    text-decoration: none;
    background-color: #000;
    width: 10rem;
    padding: 1rem 1rem;
    border-radius: 20px;
}

.btn3 p {
    color: #FFF;
    font-size: 15px;
}

img.cartthumbnailmin {
    width: 152px;
    height: 152px;
    border-radius: 30px;
    object-fit: cover;
}